<style>
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
    max-width: 750px;
    margin: auto;
    font-size: large;
    line-height: 1.4;
    color: #292a2c;
    background: #F0F0F0;
  }
  h1 { font-size: 5em; }
  blockquote { font-style: italic; }
  pre {
    overflow-x: auto;
    white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap;
    word-wrap: break-word;
  }
</style>
